@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --primary-color: #edbb00;
    --secondary-color: #20a4f3;
    --accent1-color: #004d98;
    --accent2-color: #ffffff;
    --heading-font: "Lugrasimo";
    --paragraph-font: Nunito, Helvetica;
    --nav-background-color: #f3da19;
    --nav-link-color: #000000;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
