:root {
    --primary-color: #20A4F3;
    --secondary-color: #004D98;
    --accent1-color: #EDBB00;
    --accent2-color: #ffffff;
}

body{
    max-width: 90%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: var(--primary-color);
    border: solid var(--secondary-color) 2px;
    margin: 0 0 10px 0;
    align-items: center;
    padding: 15px;
}

header img{
    height: 100px;
}

header a{
    text-decoration: none;
    color: black;
}

h1, h2{
    color: var(--secondary-color);
}

nav a{
    font-weight: 1000;
    padding-right: 15px;
}

nav a:hover{
    color: var(--accent1-color);
}

.hero {
	margin: 10px auto;
	position: relative;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* 
.hero h1{
    position: absolute;
}

.hero article{
    position: absolute;
} */