:root {
    --primary-color: #20A4F3;
    --secondary-color: #004D98;
    --accent1-color: #EDBB00;
    --accent2-color: #ffffff;

    --heading-font: Merienda, serif;
    --paragraph-font: 'Red Hat Display', serif;
}

body{
    max-width: 90%;
    margin: auto;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100px;
    background-color: var(--primary-color);
    border: solid var(--secondary-color) 2px;
    margin: 0 0 10px 0;
    align-items: center;
    padding: 15px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img{
    height: 100px;
    padding: 0 0px 0 100px;
}

header a{
    text-decoration: none;
    color: black;
}


nav a{
    font-weight: 1000;
    padding-right: 15px;
}

nav a:hover{
    color: var(--accent1-color);
}

.hero{
    position: relative; 
  }
  
.hero-img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
  
.hero h1 {
  position: absolute;
  top: 20px;
  left: 50%; 
  transform: translateX(-50%);
  color: var(--accent2-color);
}

.hero article {
  position: absolute; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(60, 84, 218, 0.7);
  padding: 15px; 
  width: 85%;
  text-align: center;
  color: var(--accent2-color);
}
  
.hero article img {
  width: 100px;
  height: auto;
  padding: 25px;
  float: right;
}

section h2{
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: space-around;
}

figure{
  text-align: center;
  margin: 10px;
}

figure img{
  width: 300px;
  height: auto;
}

figure figcaption{
  font-size: 12px;
}

section p{
  display: inline-block;
  width: 45%;
  margin: 20px;
  text-align: justify;
  max-width: 90%;
}

.paragraph-container{
  text-align: center;
}

footer a{
  text-decoration: none;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border: solid var(--secondary-color) 2px;
  align-items: center;
  padding: 5px;
}

footer p{
  font-size: 15px;
  text-align: center;
}

.first {
  display: flex;
  justify-content: center;
}

.contact-info {
  flex: 1;
  background-color: #a1cee9;
  padding: 20px;
  text-align: center;
}

.map {
  flex: 2;
  background-color: var(--accent1-color);
  padding: 20px;
}

iframe{
  width: 600px;
  height: 400px;
}


.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-content p{
  color: white;
  font-size: 15px;
}

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.employee {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee img {
  max-width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-form {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #3e8e41;
}

.title01{
  text-align: center;
  margin: 0%;
}

footer a{
  color: black;
}