* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-background-color: darkblue;
  --heading-text-color: darkblue;
  --padding: 5px;
}

body {
  font-family: sans-serif;
}

main {
  margin: 0 auto;
}

nav {
  background-color: var(--heading-background-color);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

h1{
    color: var(--heading-text-color);
    border-bottom: 1px solid gray;
}

h2 {
  position: absolute;
  font-size: 18px;
  top: 22px;
  left: 57px;
}

aside{
  width: 20rem;
  /* margin: 1rem;
  border: 1px solid rgb(0, 0, 0 / 0.2); */
  padding: var(--padding);
  /* background-color: #eee;
  color: #333; */
  text-align: center;
  position: relative;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

main img {
  width: 150px;
  height: auto;
  float: right;
}

p{
    padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid black;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0, 0, 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  max-width: 300px;
}

header, footer , .grid{
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}