body {
    width: 650px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 60%;
    margin: auto;
}

header {
    background-color: black;
    text-align: center;
    color: azure;
    padding: 1px;
    font-size: 1.3rem;
    margin: 15px;
}

footer {
    background-color: black;
    text-align: center;
    color: azure;
    padding: 1px;
    font-size: 1rem;
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 40px #363636;
}

section {
    width: 90%;
    background-color: rgb(163, 166, 168);
    padding: 5%;
    margin: 25px auto;
}

h2 {
 border-bottom: 1px solid black;
}

section p {
    margin-left: 15px;
}

section ul {
    margin-left: -15px;
}